/* CSS for general layout, components, and recurring motifs */

body {
	direction:ltr;
/*	color:white;
	background: #172839
				url('/Users/minqi/projects/smartdose/static/img/background.png') 
				top repeat-x;*/
}

#globalContainer {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

#mainContainer {
	position: relative;
	min-height: 600px;
	/*border: 1px solid red;*/
}

#leftCol {
	float: left;
	position: relative;
	/*border: 1px solid green;*/
	width: 120px;
}

#centerCol {
	/*border: 1px solid blue;*/
	float: left;
	position: relative;
	width: 525px;
}
#rightCol {
	float: left;
	position: relative;
	width: 315px;
}

#mainTabNav {
	position: relative;
	margin-top: 100px;
	text-align: right
}

#mainContentCol {
	padding: 0 28px;
	padding-top: 42px;
}

#rightContentCol {
	padding-left: 24px;
	padding-top: 111px;
}

#extraInfo {

}

#patientProfileHeader {

}

#patientProfileHeader .patientListItemPhoto {
	height: 62px;
	width: 62px;
	float: left;
	/*border: 1px solid black;*/
	background: url('/Users/minqi/projects/smartdose/static/img/matt-thumb-test.png');
	box-shadow: 0px 3px 2px #777;
}

#patientProfileHeader .patientListItemFullName {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
	float:left;
	margin-left: 12px;
	margin-top: 10px;
}

.addPrescriptionButton {
	height: 61px;
	width: 61px;
	float:left;
	border:1px solid black;
}

.addPrescriptionButtonLabel {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
	float:left;
	margin-left: 12px;
	margin-top: 10px;
}

#patientProfileHeader {
	margin-top: 9px;
}

#addPrescriptionListItem {
	margin-top: 16px;
	margin-bottom: 29px;
}

.uiContextualLayerPositioner {

}

.navTabButton {
	padding-right:24px;
	margin-bottom: 22px;
}

.tabButtonCount {
	font-family: "Helvetica Neue";
	font-size: 32px;
	font-weight:bold;
}

.tabButtonLabel {
	font-family: "HelveticaNeue-UltraLight";
	font-size: 16px;
}

.greeting {
	font-family: "HelveticaNeue-UltraLight";
	font-size: 32px;
}

.prescriptItem {
	width: 420px;
}

.prescriptItemHeader {

}

.prescriptItemIcon {
	width: 61px;
	height: 61px;
	float: left;
	border: 1px solid black;
}

.prescriptItemDescriptionContainer {
	float: left;
	margin-left: 12px;
}

.prescriptItemName {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
}

.prescriptItemDosage {
	font-family: "HelveticaNeue-Light";
	font-size: 20px;
}

.additionalInfoFieldName {
	font-family: "HelveticaNeue-Light";
	font-size: 20px;
}

.additionalInfoFieldValue {
	font-family: "Helvetica Neue";
	font-size: 20px;
	font-weight:bold;
}

#patientAdditionalInfo li, #patientTeammatesHeader{
	margin-bottom: 22px;
}

#patientPrimaryContactInfo {
	margin: 64px 0;
}

#patientTeammatesInfo {
	margin: 64px 0;
}

.clearfix {
	clear: both; 
	display: block;
	visibility: none;
}

.unstyledList {
	list-style: none;
	margin:0;
	padding:0;
}
