/* CSS for general layout, components, and recurring motifs */

html, body {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto
}

body {
	direction:ltr;
	font-family: "HelveticaNeue-Medium";
	margin:0px;
	background: #eceef1
}

#globalContainer {
	/*border: 1px solid yellow;*/
	width: 960px;
	float:left;
	min-width:960px;
	position: relative;
	margin: 0 auto;
}

#mainContainer {
	/* border: 1px solid red; */
	float: left;
	position: relative;
	min-height: 600px;
	width: 746px;
	margin: 0;
	height: 100vh;
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.5);
	 box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); 
	border-left: 1px solid #aaa;
	/*border-top: 1px solid #aaa;*/
	border-right: 1px solid #aaa;
	border-radius: 3px;
	margin-top: 10px;
	background: #fff;
}

#main-header {
	height: 36px;
	width: 738px;
	margin: 0;
	padding: 0;
	background: #169fda;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-left: 8px;
	color: #fff;
	line-height: 36px;
	border: 1px solid #1178a4;
	border-bottom: none;
	margin-left: -1px;
}

#smartdoseLogo {
	text-align: left;
	font-size: 28px;
	color: white;
	margin-top: 10px;
	margin-left: 10px;
	color: #777;
}

#leftCol {
	/*border: 1px solid green; */
	float: left;
	position: relative;
	min-height: 600px;
	height: 100vh;
	background: #eceef1;
}

#leftMenu {
}

.left-navigation-hr {
	border-left: 0;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #FFF;
	margin: 2px 0;
}

.leftMenuButton {
	/* border: solid 1px #ACE; */
	width: 198px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	color: #444;
}

#patientSearchBox {
	width: 170px;
	height: 13px;
	padding: 7px;
	font-size: 12px;
	margin-top: 5px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-left: 11px;
	margin-top:10px;
}

#patientSearchResults {
	list-style-type: none;
	padding: 0;
	margin: 0;
	float:left;
}

#addPatientButton {
	/*border: solid 1px brown;*/
	position: relative;
	width: 210px;
	height: 40px;
	line-height:40px;
	font-weight: bold;
	padding-left:10px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
	cursor:pointer;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	color: #444;
}

#patientSearchResults .patientResult {
	width: 210px;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #ccc;
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	text-shadow: 0px 1px rgba(255, 255, 255, 0.5);
	color: #444;
}

#mainCol {
	/*border: 1px solid blue;*/
	float: left;
	position: relative;
	width: 525px;
}

#mainContentView {
	padding: 0 28px;
	padding-top: 42px;
}

#patientProfileHeader {

}

#patientProfileHeader .patientListItemPhoto {
	height: 62px;
	width: 62px;
	float: left;
	background: url('/static/img/default-avatar.png');
}

#patientProfileHeader .patientListItemFullName {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
	margin-left: 12px;
	margin-top: 0px;
}

#patientProfileHeader .patientListItemPhoneNumber {
	font-family: "HelveticaNeue-Medium";
	font-size: 18px;
	margin-left: 12px;
	margin-top: 0px;
}

#patientProfileHeader .patientListItemInfo {
	float:left;
	width:400px;
}

#addPatientForm #id_full_name {
	font-size: 32px;
	margin-left: 12px;
	margin-top: 0px;
	outline: none;	
}

#addPatientForm #id_primary_phone_number {
	font-size: 18px;
	margin-left: 12px;
	margin-top: 0px;
	outline: none;
}

#addPatientCancel, #addReminderCancel,
.deletePatientButton, .deletePatientConfirmYes,
.deletePatientConfirmNo {
	border: 1px solid #777;
	border-radius: 8px;
	float: left;
	font-size: 18px;
	padding: 7px;
	font-family: "HelveticaNeue-Thin";
	cursor:pointer;
	width:54px;	
	text-align:center;
}

#addPatientForm #addPatientSubmit {
	float: left;
}

#addReminderButtonContainer {
	margin-top: 16px;
	margin-bottom: 29px;
}

#addReminderButton {
	height: 61px;
	width: 61px;
	float:left;
	border:1px solid black;
	cursor:pointer;
}

#addReminderName {
	float: left;
}

#addReminderButtonLabel {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
	float:left;
	margin-left: 12px;
	margin-top: 10px;
}

#prescriptionsListContainer {
	float:left;
	margin-top: 25px;
}

.prescriptionsListItem {
	border: 1px solid #aaa;
	float: left;
	padding: 8px;
	border-radius: 3px;
}

.remindersListContainer {
	float: left;
	width: 450px;
	padding: 0;
	margin-top: 5px;
}

.deleteReminderButton {
	float: right;
	cursor:pointer;
}

.deletePatientButton {
	float:right;
	cursor:pointer;
}

.deletePatientConfirm {
	float: right;
}

.deletePatientConfirmYes, .deletePatientConfirmNo {
	float:right;
	margin-left: 5px;
	cursor:pointer;
	border-radius: 8px;
}

.remindersListItemDay {
	height: 30px;
	width: 30px;
	background: #ccc;
	float: left;
	border-radius: 20px;
	margin-top: 4px;
	margin-right: 8px;
	text-align: center;
	line-height: 30px;
	color: #777;
}

#sendRefillReminderCheckbox {
	float: left;
}

.selectedDay {
	background: #81CC88;
}

#patientProfileHeader {
	margin-top: 9px;
}

.greeting {
	float: left;
	font-family: "HelveticaNeue-UltraLight";
	font-size: 32px;
	width:469px;
}

.prescriptItem {
	width: 420px;
}

.prescriptItemHeader {

}

.prescriptItemIcon {
	width: 61px;
	height: 61px;
	float: left;
	border: 1px solid black;
}

.prescriptItemDescriptionContainer {
	float: left;
	margin-left: 12px;
}

.prescriptItemName {
	font-family: "HelveticaNeue-Medium";
	font-size: 32px;
}

.prescriptItemDosage {
	font-family: "HelveticaNeue-Light";
	font-size: 20px;
}

.clearfix {
	clear: both; 
	display: block;
	visibility: none;
}

.unstyledList {
	list-style: none;
	margin:0;
	padding:0;
}

.no_display {
	display:none;
}
