<div id="addPatientView" class="no_display" data-id="">
	<form id="addPatientForm" action="/fishfood/patient/" method="post">
	<div class="greeting">Create a new medical record for</div>
	<div id="patientProfileHeader">
		<div class="patientListItemPhoto"></div>
		<div class="patientListItemInfo">
				<input id="id_full_name" type="text" name="full_name"/>
				<input id="id_primary_phone_number" type="tel" name="primary_phone_number"/>
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="addReminderListItem">
		<div id="addReminderButton"></div>
		<div id="addReminderButtonLabel">Add reminder</div>
		<div class="clearfix"></div>
	</div>
	<div class="reminderFields no_display"><p/>
		<input id="addReminderName" type="text" placeholder="Drug name"/><p/>
		<input id="addReminderTime" type="time"/><p/>
		<input type="checkbox" class="dayBubble"/>Mon
		<input type="checkbox" class="dayBubble"/>Tue
		<input type="checkbox" class="dayBubble"/>Wed
		<input type="checkbox" class="dayBubble"/>Thu
		<input type="checkbox" class="dayBubble"/>Fri
		<input type="checkbox" class="dayBubble"/>Sat
		<input type="checkbox" class="dayBubble"/>Sun
	</div>
	<div id="addPatientCancel">Cancel</div>
	<input id="addPatientSubmit" type="submit" value="Done"></input>
	</form>
</div>