<div id="dashboard">
	<div class="chart-title">Reasons for medication nonadherence</div>
	<div id="med-responses-histogram-container">
		<svg id="med-responses-histogram"></svg>
	</div>
<!-- 	<div id="dashboard-alerts-container">
		<div id="dashboard-alerts-content">Patient alerts<br/>(self-reported problems)</div>
	</div> -->
	<div id="dashboard-risky-patients-container">At-risk patients</div>
	<div id="dashboard-drg-container">
		<div id="dashboard-drg-content">Key metrics,<br/>grouped by treatment and DRG</div>
	</div>
</div>
{% include 'fishfood/add_patient_view.html' %}