<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		{% load compressed %}
		{% compressed_css 'core' %}
		<title>Smartdose - Fishfood</title>
	</head>
	<body>
		<div id="globalContainer">
			<div id="leftCol">
				<div id="smartdoseLogo">Smartdose</div>
				<hr class="left-navigation-hr"></hr>
				<div id="dashboard-button" class="leftMenuButton">Dashboard</div>
				<hr class="left-navigation-hr"></hr>
				<div id="myProfileButton" class="leftMenuButton">My profile</div>
				<hr class="left-navigation-hr"></hr>
				<div id="addPatientButton" class="leftMenuButton">+ Add a patient</div>
				<hr class="left-navigation-hr"></hr>
				<input type="text" id="patientSearchBox" placeholder="Search for patients"></input>
				<div id="leftMenu">
					<ul id="patientSearchResults">
						{% include 'fishfood/patient_search_results_list.html' %}
					</ul>
				</div>
				<div id="left-menu-footer">
					<form  id="logout-form" action="/fishfood/logout/" method="post">
						{% csrf_token %}
						<input id="logoutButton" type="submit" value="Logout">
					</form>
				</div>
			</div>
			<div id="main-container">
				<div id="main-view">
					<div id="main-header">Dashboard</div>
					<div id="mainCol">
						<div id="mainContentView">
							{% include 'fishfood/dashboard.html' %}
							{% include 'fishfood/add_patient_view.html' %}
						</div>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<footer>
			{% compressed_js 'core' %}
		</footer>
	</body>
</html>
