<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		<link type="text/css" rel="stylesheet" media="screen" href="/static/fishfood/fishfood.css">
		<title>Smartdose - Fishfood</title>
	</head>
	<body>
		<div id="globalContainer">
			<div id="leftCol">
				<div id="smartdoseLogo">Smartdose</div>
				<hr class="left-navigation-hr"></hr>
				<div id="homeButton" class="leftMenuButton">Dashboard</div>
				<hr class="left-navigation-hr"></hr>
				<div id="myProfileButton" class="leftMenuButton">My profile</div>
				<hr class="left-navigation-hr"></hr>
				<div id="addPatientButton" class="leftMenuButton">+ Add a patient</div>
				<hr class="left-navigation-hr"></hr>
				<input type="text" id="patientSearchBox" placeholder="Search for patients"></input>
				<div id="leftMenu">
					<ul id="patientSearchResults">
						{% include 'fishfood/patient_search_results_list.html' %}
					</ul>
				</div>
				<form id="#logoutButton" action="/fishfood/logout/" method="post">
					{% csrf_token %}
					<input type="submit" value="Logout">
				</form>
			</div>
			<div id="main-container">
				<div id="main-view">
					<div id="main-header">Medication record</div>
					<div id="mainCol">
						<div id="mainContentView">
							Welcome to the Smartdose fishfood :)
							<div id="spark-vod" class="adherence-sparkline"></div>
							{% include 'fishfood/add_patient_view.html' %}
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<script src="//d3js.org/d3.v3.min.js"></script>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
			<script src="/static/fishfood/sparkline.js" type="text/javascript"></script>
			<script src="/static/fishfood/fishfood.js" type="text/javascript"></script>
		</footer>
	</body>
</html>
