{% load utilities %}
<div id="patientView" data-id={{ patient.id }}>
	<div class="deletePatientButton">Delete</div>
	<div class="deletePatientConfirmYes no_display">Yes</div>
	<div class="deletePatientConfirmNo no_display">No</div>
	<div id="patientProfileHeader">
		<div class="patientListItemPhoto"></div>
		<div class="patientListItemInfo">
			<div class="patientListItemFullName">{{ patient.full_name }}</div>
			{% if patient.primary_phone_number %}
			<div class="patientListItemPhoneNumber">{{ patient.primary_phone_number | fancy_phonenumber }}</div>
			{% else %}
			<div class="patientListItemPhoneNumber">{{ patient.primary_contact.primary_phone_number }}</div>
			{% endif %}
		</div>
		<div class="clearfix"></div>
	</div>
	<div id="patient-view-nav">
		{% if url_name == 'retrieve_patient' %}
		<div id="patient-view-nav-medlist" class="patient-view-nav-tab patient-view-nav-selected">
		{% else %}
		<div id="patient-view-nav-medlist" class="patient-view-nav-tab">
		{% endif %}
		Reminders</div>
		<div class="patient-view-nav-vr"></div>
		{% if url_name == 'retrieve_caregivers' %}
		<div id="patient-view-nav-caregivers" class="patient-view-nav-tab patient-view-nav-selected">Caregivers</div>
		{% else %}
		<div id="patient-view-nav-caregivers" class="patient-view-nav-tab">Caregivers</div>
		{% endif %}
		<div class="clearfix"></div>
	</div>
	{% include 'fishfood/patient_view_reminders_section.html' %}
	{% include 'fishfood/patient_view_caregivers_section.html' %}
</div>
{% include 'fishfood/add_patient_view.html' %}