<div id="prescriptionsListContainer">
	{% for drug_group in reminder_groups %}
	<div class="prescriptionsListItem">
		<div class="prescriptionDrugName">{{ drug_group.drug_name|capfirst }}</div>
		<div id="spark-vod" class="adherence-sparkline"></div>
		<div class="remindersListContainer">
			<ul class="remindersList unstyledList">
				{% for schedule in drug_group.schedules %}
				<li class="remindersListItem">
					<div class="deleteReminderButton no_display">Delete</div>
					<div class="remindersListItemTime">{{ schedule.time|time:"g:i A" }}</div>
					<div class="remindersListItemDays">
						{% if 1 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">M</div>
						{% else %}
						<div class="remindersListItemDay">M</div>
						{% endif %}
						{% if 2 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">T</div>
						{% else %}
						<div class="remindersListItemDay">T</div>
						{% endif %}
						{% if 3 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">W</div>
						{% else %}
						<div class="remindersListItemDay">W</div>
						{% endif %}
						{% if 4 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">Th</div>
						{% else %}
						<div class="remindersListItemDay">Th</div>
						{% endif %}
						{% if 5 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">F</div>
						{% else %}
						<div class="remindersListItemDay">F</div>
						{% endif %}
						{% if 6 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">S</div>
						{% else %}
						<div class="remindersListItemDay">S</div>
						{% endif %}
						{% if 7 in schedule.days_of_week or 8 in schedule.days_of_week %}
						<div class="remindersListItemDay selectedDay">Sn</div>
						{% else %}
						<div class="remindersListItemDay">Sn</div>
						{% endif %}
					</div>
					<div class="clearfix"></div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>