<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		{% load compressed %}
		{% compressed_css 'core' %}
		<title>Smartdose - Sign up</title>
	</head>
	<body>

		<div id="login-form-container">
			<div id="login-form-content">
				<form id="login-form" action="/fishfood/signup_yconly_11111011110/" method="post">
					{% csrf_token %}
					<div id="login-form-caption">Sign up</div>
					<input type="text" class="login-field" placeholder="Full name" 
						name="full_name"/>
					<input type="text" class="login-field" 
						placeholder="Email" name="email"/>
					<input type="text" class="login-field" 
						placeholder="Phone" name="primary_phone_number"/>
					<input type="password" name="password1" class="login-field" placeholder="Password"/>
					<input type="password" name="password2" class="login-field" placeholder="Confirm password"/>
					<div id="login-form-footer">
						<input type="submit" id="signup-form-submit" value="Next"/>
					</div>
				</form>
				<div id="login-form-signup-footer">
					Have an account? <a href="/fishfood/login">Login</a>
				</div>
			</div>
		</div>
		<footer>
			{% compressed_js 'login' %}
		</footer>
	</body>
</html>
