<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		{% load compressed %}
		{% compressed_css 'core' %}
		<title>Smartdose - Login</title>
	</head>
	<body>
		<div id="login-form-container">
			<div id="login-form-content">
				<form id="login-form" action="/fishfood/login/" method="post">
					{% csrf_token %}
					<div id="login-form-logo"></div>
					<div id="login-form-caption">Login to Smartdose</div>
					<input type="text" id="login-form-phonenumber" class="login-field" 
						placeholder="Phone" name="primary_phone_number"/>
					<input type="password" id="login-form-password" class="login-field" name="password" placeholder="Password"/>
					<div id="login-form-footer">
						<input id="login-form-submit" type="submit" value="Login"/>
					</div>
				</form>
				<div id="login-form-signup-footer">
					No account? <a href="/fishfood/signup">Sign-up for free</a>
				</div>
			</div>
		</div>
		<footer>
			{% compressed_js 'login' %}
		</footer>
	</body>
</html>
