<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		<link type="text/css" rel="stylesheet" media="screen" href="/static/fishfood/fishfood.css">
		<title>Smartdose - Sign up</title>
	</head>
	<body>
		<div id="globalContainer">
			<div id="mainContainer">
				<div id="mainCol">
					<div id="mainContentView">
						Welcome to the Smartdose fishfood :)
						<form id="loginForm" action="/fishfood/signup/" method="post">
							{% csrf_token %}
							<input type="text" class="loginField" placeholder="Name" 
								name="full_name"/>
							<input type="text" class="loginField" 
								placeholder="Email" name="email"/>
							<input type="text" class="loginField" 
								placeholder="555-555-5555" name="primary_phone_number"/>
							<input type="password" name="password1"/>
							<input type="password" name="password2"/>
							<input type="submit" class="loginSubmitButton" value="Next"/>
						</form>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
			<script src="/static/fishfood/fishfood.js" type="text/javascript"></script>
			<script src="/static/fishfood/fishfood.js" type="text/javascript"></script>
		</footer>
	</body>
</html>
