<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp"/>
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		<link type="text/css" rel="stylesheet" media="screen" href="/static/fishfood/fishfood.css">
		<title>Smartdose - Sign up</title>
	</head>
	<body>

		<div id="login-form-container">
			<div id="login-form-content">
				<form id="login-form" action="/fishfood/signup/verifymobile/" method="post">
					{% csrf_token %}
					<div id="login-form-caption">Verify your number</div>
					<div id="otp-blurb">
						We sent a 5-digit code in a text-message to your mobile device at <span id="otp-blurb-phonenumber"></span>. This code will expire in 5 minutes.
						<p/> 
						Please enter this code below to confirm you are the owner of the number.
					</div>
					<input type="text" class="login-field" placeholder="Code" name="otp"/>
					<div id="login-form-footer">
						<input type="submit" id="signup-form-otp-submit" value="Done"/>
					</div>
				</form>
				<div id="login-form-signup-footer">
					Have an account? <a href="/fishfood/login">Login</a>
				</div>
			</div>
		</div>
		<footer>
			<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript"></script>
			<script src="/static/fishfood/jquery.inputmask.js" type="text/javascript"></script>
			<script src="/static/fishfood/login.js" type="text/javascript"></script>
		</footer>
	</body>
</html>
