<!doctype html>
<html itemscope="" itemtype="http://schema.org/WebPage">
	<head>
		<meta name="description" 
			content="The future of prescription medication. Smartdose has many special features to help you track your medical needs." />
		<meta name="robots" content="noodp" />
		<meta name="referer" content="default" id="mref"/>
		<link rel="shortcut icon" href="" />
		<!-- <link type="text/css" rel="stylesheet" media="screen" href="/static/css/common.css"> -->
		<link type="text/css" rel="stylesheet" media="screen" href="/Users/minqi/projects/smartdose/static/css/common.css">
		<!-- INSERT SCRIPT HERE -->
		<title>Smartdose - {{user.first_name user.last_name}}</title>
	</head>
	<body>
		<div id="globalContainer">
			<div id="mainContainer">
				<div id="leftCol">
					<div id="mainNav">
						<div id="alertsTabButton" class="navTabButton">
							<div class="tabButtonCount">23</div>
							<div class="tabButtonLabel">Alerts</div>
						</div>
						<div id="patientsTabButton" class="navTabButton">
							<div class="tabButtonCount">120</div>
							<div class="tabButtonLabel">Patients</div>
						</div>
						<div id="prescriptionsTabButton" class="navTabButton">
							<div class="tabButtonCount">51</div>
							<div class="tabButtonLabel">Prescriptions</div>
						</div>
					</div>
				</div>
				<div id="centerCol">
					<div id="mainContentCol">
					<div class="greeting">Here's the medical record for</div>
						<div id="patientProfileHeader">
							<div class="patientListItemPhoto"></div>
							<div class="patientListItemFullName">Matthew Gaba</div>
							<div class="clearfix"></div>
						</div>
						<div id="addPrescriptionListItem">
							<div class="addPrescriptionButton"></div>
							<div class="addPrescriptionButtonLabel">Add prescription</div>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
